body {
  display: grid;
  grid-template: 1fr 4fr/3fr 2fr;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  grid-area: 1/1/2/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  grid-area: 2/1/3/2;
}

#welcome-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

#game-over {
  display: none;
  grid-template: 1fr 1fr/ 1fr 1fr;
}

#game-over h4 {
  grid-area: 1/1/2/-1;
}

.side-box {
  grid-area: 2/2/-1/-1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#leaderboard {
  display: grid;
  grid: repeat(10, 1fr) / 1fr 5fr 1fr;
}

table {
  border: 0;
  border-style: solid;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: rgba(0, 0, 0, 0);
}

.blank {
  background-color: white;
}

.snake {
  background-color: black;
}

.food {
  background-color: grey;
}
