body {
  display: grid;
  grid-template: 1fr 4fr/ 1fr 700px 200px 1fr;
}

#header {
  grid-area: 1/1/1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  grid-area: 2/2/3/3;
}

#welcome-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.side-box {
  grid-area: 2/3/3/4;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

table {
  border: 0;
  border-style: solid;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: rgba(0, 0, 0, 0);
}

.blank {
  background-color: white;
}

.snake {
  background-color: black;
}

.food {
  background-color: grey;
}
